@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: white;
  width: 100%;
  cursor: default;
  list-style: none;
}

*::selection {
  background-color: transparent;
}

body {
  background-color: black;
}
